# Gemini API Key
GEMINI_API_KEY=AIzaSyCipPbqF2COBDSJGvWfNTDs3ZhozVj7jeI

# Bytez API Key
VITE_BYTEZ_API_KEY=40f10119ce13d90306423fd7adfbd090

# CloudConvert API Key
CLOUDCONVERT_API_KEY=wE6aF47aZyJHSuhZp0MpfG8GcPwDRLET
